.skills-container {
    height: 100vh;
    min-height: 100vh;

    .skills-head {
        padding: 32px;
        font-size: 42px;
        font-weight: 600;
        text-align: center;

        mat-icon {
            transform: scale(1.5) translate(0, -4px);
        }
    }

    .skill-container {
        padding: 8px 24px;
    }
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;

    .nav-link {
        flex: 1;
        cursor: pointer;
        color: inherit;
        padding: 8px 24px;
        min-width: 128px;
        text-align: center;
        border-bottom: 2px solid #aaa8;
        font-size: 12pt;
    
        &.active {
            border-bottom: 2px solid rgb(12, 107, 208);
            border-right: 1px solid #ccc4;
            border-left: 1px solid #ccc4;
            z-index: 10;
            color: rgb(12, 107, 208);
            font-weight: 700;
        }
    }
}
