@use '@angular/material' as mat;

$angular-primary: mat.define-palette(mat.$amber-palette, 600, 300, 900);
$angular-primary-light: mat.define-palette(mat.$amber-palette, 700, 400, 900);
$angular-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

@import "bootstrap/scss/bootstrap";