.home-container {
    min-height: 100vh;
    height: 100vh;

    .home-header {
        width: 100%;
        height: 50%;
        background-image: url('/assets/images/bg-nav-light.png');
        display: flex;
        justify-content: space-between;
        padding: 92px 64px 0;

        .profile-pic {
            width: 200px;
            height: 200px;
        }

        .main-info {
            font-family: helvetica, sans-serif;
            padding: 32px 64px 0;
            .title {
                font-size: 4rem;
                font-weight: 700;
            }

            .contacts {
                display: flex;
                justify-content: start;
                font-size: 10pt;
                margin-left: 12px;

                &.large {
                    mat-icon {
                        font-size: 8px;
                    }
                }

                &.green {
                    mat-icon {
                        color: #4caf50;
                    }
                }

                &.black {
                    mat-icon {
                        color: #000;
                    }
                }

                mat-icon {
                    margin-right: 8px;
                    font-size: 16pt;
                }

                a {
                    color: #36a3e1;
                    &:hover {
                        color: #2765ad;
                    }
                }
            }
        }

        
    }
}