<div class="home-container">
    <div class="home-header">
        <div class="main-info">
            <h1 class="title">Shubham Singhal</h1>
            <h4 class="subtitle">Full-Stack | AI Engineer | Designer</h4>
            <div class="contacts">
                <mat-icon color="primary" aria-label="email">email</mat-icon>
                shubham21197@gmail.com
            </div>
            <div class="contacts green">
                <mat-icon color="primary" aria-label="phone">phone</mat-icon>
                +61 403 773 769
            </div>
            <div class="contacts large">
                <mat-icon aria-label="linkedin" svgIcon="linkedin"></mat-icon>
                <a href="https://www.linkedin.com/in/shubham21197/" target="_blank">shubham21197</a>
            </div>
            <div class="contacts black">
                <mat-icon aria-label="github" svgIcon="github"></mat-icon>
                <a href="https://github.com/shubham21197" target="_blank">shubham21197</a>
            </div>
            <div class="contacts">
                <mat-icon color="warn" aria-label="location">location_on</mat-icon>
                Sydney, NSW
            </div>
        </div>
        <img src="/assets/images/me.png" height="200px" alt="Shubham Singhal" class="profile-pic">
        
</div>