<div class="home-container">
    <div class="home-header">
        <div class="main-info">
            <h1 class="title">Shubham Singhal</h1>
            <h4 class="subtitle">Full-Stack | AI Engineer | Designer</h4>
            <div class="contacts">
                <mat-icon color="primary" aria-label="email">email</mat-icon>
                shubham21197@gmail.com
            </div>
            <div class="contacts green">
                <mat-icon color="primary" aria-label="phone">phone</mat-icon>
                +61 403 773 769
            </div>
            <div class="contacts blue">
                <mat-icon aria-label="linkedin" svgIcon="linkedin"></mat-icon>
                <a href="https://www.linkedin.com/in/shubham21197/" target="_blank">shubham21197</a>
            </div>
            <div class="contacts">
                <mat-icon aria-label="github" svgIcon="github"></mat-icon>
                <a href="https://github.com/shubham21197" target="_blank">shubham21197</a>
            </div>
            <div class="contacts">
                <mat-icon color="warn" aria-label="location">location_on</mat-icon>
                Sydney, NSW
            </div>
        </div>
        <img src="/assets/images/me.png" height="200px" alt="Shubham Singhal" class="profile-pic">

    </div>

    <blockquote>
        As a skilled full-stack developer with three years of experience and a Bachelor's degree in Computer Science, I
        am currently pursuing a Master's in Artificial Intelligence from Western Sydney University while working as a
        full stack developer. My expertise in technologies such as Angular, React, Spring, Databases and Python, coupled
        with extensive experience in both Backend and Frontend development, make me an invaluable asset to any
        development team. In addition to my development skills, I have a solid understanding of deployment processes and
        AWS management. Outside of work, I spend time exploring AI models and writing automation scripts. I am also
        proficient in Graphic and UI Design, using Photoshop and Illustrator to create stunning visual designs.
    </blockquote>

</div>